/* Your CSS definitions here */
.scoreboard h1 {
  padding-left: 160px;
  color: white;
  font-size: 28pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 12pt;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  background-color: #326455;
  color: #fff;
  padding: 20px;
  width: 700px;
  border-radius: 20px;
}
.contents {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inning {
  height: 60px;
  width: 40px;
  border: 6px solid black;
  margin: 3px;
  display: flex;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
}

.last {
  border: 6px solid white;
}

.logo-container {
  margin-top: 50px;
  margin-left: 20px;
  height: 120px;
  width: 120px;
}

img {
  object-fit: cover;
  width: 100%;
}

.control-board {
  background-color: black;
  padding: 20px;
  border-radius: 20px;
  width: 700px;
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  flex-direction: row;
}

.option {
  color: white;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
}

.control-board h1 {
  color: white;
  font-size: 28pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
